.container {
	display: flex;
	flex-direction: column;
	font-size: var(--spacing-5);
	font-weight: 300;
}

.heading {
	font-size: var(--spacing-5);

	strong {
		font-weight: 800;
	}

	i {
		font-style: normal;
		font-weight: 600;
		font-variation-settings: 'slnt' -10;
	}
}

.date {
	margin: var(--spacing-3) 0 var(--spacing-5);
	font-size: var(--spacing-4);
}

.description {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
	padding: 0;

	ul {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		list-style-type: "→   ";
	}

}


.pills {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-4);
	margin-top: var(--spacing-5);
	padding: 0;
	list-style-type: none;
	font-variation-settings: 'wdth' 80;
	

	li {
		padding: var(--spacing-3) var(--spacing-4);
		border-radius: var(--spacing-9);
		background-color: var(--color-green-mid);
		font-size: var(--spacing-4);
		color: var(--color-white);
		letter-spacing: var(--spacing-1);
	}
}