.page {
	width: 100vw;
	height: 100vh;

	&::before {
		content: '';
		position: fixed;
		z-index: -10;
		width: 100%;
		height: 100vh;
		background-color: var(--color-white);
	}

	&::after {
		content: '';
		position: fixed;
		top: 0;
		z-index: -10;
		width: 50%;
		height: 100vh;
		background-color: var(--color-green-mid);

	}

	main {
		display: flex;
		width: 100%;
		max-width: var(--container-64);
		height: 100%;
		margin: auto;
		background-color: var(--color-white);

	
	}
}

.content {
	width: 100%;
	height: 100%;
	padding: var(--spacing-16);
}