.page {
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: var(--color-white);

	
	}

	@media screen and (width >= 1300px) {
		main {
			flex-direction: row;
		}
	}
}

.wrapper {
	position: relative;
}

.wood {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
	opacity: 0.7;
}

.content {
	position: relative;
	width: 100%;
	height: 100dvh;
	padding: var(--spacing-6);
	box-shadow: inset 0 var(--spacing-5) var(--spacing-3) calc(var(--spacing-4) * -1) var(--color-black-translucent);

	@media screen and (width >= 1300px) {
		padding: var(--spacing-8);
		box-shadow: inset var(--spacing-5) 0 var(--spacing-3) calc(var(--spacing-4) * -1) var(--color-black-translucent);
	}
}