.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	filter: drop-shadow(0 var(--spacing-2) var(--spacing-3) var(--color-black-translucent));
	rotate: -2deg;
}

.tab {
	position: relative;
	display: flex;
	width: min-content;
	margin-left: 20%;
	
	svg {
		z-index: 3;
		width: min-content;
		height: var(--spacing-7);
		margin: 0 -1px -1px;

		&:last-child {
			transform: scaleX(-1);
		}

		path {
			fill: var(--color-green-light)
		}
	}

	button {
		z-index: 2;
		padding: 0 var(--spacing-5);
		border: none;
		background-color: var(--color-green-light);
		font-size: var(--spacing-5);
		font-weight: 800;
		color: var(--color-green-dark);
	}

	/* fade into the cardboard background below the tab */
	&::after {
		content: '';
		position: absolute;
		bottom: calc(var(--spacing-6) * -1);
		left: calc(var(--spacing-7) * -1);
		z-index: 3;
		width: calc(100% + (var(--spacing-7) * 2));
		height: var(--spacing-6);
		background: radial-gradient(ellipse at top, var(--color-green-light) 30%, transparent 70%);
	}
}

.folder {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: var(--spacing-4);
	background-color: var(--color-green-light);
	color: var(--color-green-dark);
	overflow: hidden;
}

.cardboard {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	mix-blend-mode: luminosity;
	opacity: .7;
}

.window {
	position: relative;
	display: flex;
	overflow: hidden;

	&::before, &::after {
		content: '';
		position: absolute;
		z-index: 1;
		width: calc(100%);
		height: var(--spacing-7);

		/* fades on the right hand side so that it doesn't overlap the scrollbar */
		background: radial-gradient(ellipse at top left, var(--color-green-light), transparent 70%);
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
		transform: scale(1, -1);
	}
}

.scroller {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-7);
	width: 100%;
	padding: var(--spacing-7);
	overflow-y: scroll;
	scrollbar-color:  var(--color-green-mid) transparent;
	overflow-wrap: break-word;
}

