.folder {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: var(--spacing-4);
	box-shadow: 0 var(--spacing-1) var(--spacing-3) var(--color-black-translucent);
	background-color: var(--color-green-light);
	color: var(--color-green-dark);
	rotate: -2deg;
	overflow: hidden;
}

.cardboard {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	mix-blend-mode: luminosity;
	opacity: .7;
}

.window {
	position: relative;
	display: flex;
	overflow: hidden;

	&::before, &::after {
		content: '';
		position: absolute;
		z-index: 1;
		width: calc(100%);
		height: var(--spacing-7);

		/* fades on the right hand side so that it doesn't overlap the scrollbar */
		background: radial-gradient(ellipse at top left, var(--color-green-light), transparent 70%);
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
		transform: scale(1, -1);
	}
}

.scroller {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-7);
	width: 100%;
	padding: var(--spacing-7);
	overflow-y: scroll;
	scrollbar-color:  var(--color-green-mid) transparent;
	overflow-wrap: break-word;
}

